<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <h1>ADD PERSON FORM</h1>
    <form action="/cohort" method="post">
    Name: <input type="text" name="name" id="">
    <br><br>
    Sex: <input type="text" name="sex" id="">
    <br><br>
    Track: <input type="text" name="track" id="">
    <br><br>
    <input type="submit" value="Submit" id="submit">
    </form>
</body>
</html>